SQL_ENGINE='django.db.backends.postgresql'
SQL_USER='psql_user'
SQL_PASSWORD='moi123moi'
SQL_PORT='5432'

PSQL_USER="postgres"
PSQL_PASS='123soleil'
PSQL_HOST='localhost'
PSQL_DATA_REPO="/var/lib/postgresql/data"

# Clée et algo doit etre la meme dans tous les conteneurs utilisant le token
SECRET_KEY='django-insecure-_^x_f^5e$xdxogi7z5-f=yq-q&74(t&*z3bxprfiaq6cbbl3wv'
ALGO='HS256'

BOOT_WORKDIR="/home/js_front"

# Database spécifiques a chaque services
SQL_DATABASE_API='api_db'
SQL_DATABASE_AUTH='auth_db'
SQL_DATABASE_PONG='pong_db'

# Host spécifique a chaque service
SQL_HOST_API='api_psql'
SQL_HOST_AUTH='auth_psql'
SQL_HOST_PONG='pong_psql'

# Workdir spécifique a chaque service
DJANGO_WORKDIR_API="/home/API"
DJANGO_WORKDIR_AUTH="/home/Auth"
DJANGO_WORKDIR_PONG="/home/Pong"

# Settings d'envois d'e-mail avec django
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="mon adresse mail@example.fr"
EMAIL_HOST_PASSWORD="mot de passe du mail"