# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    requirements.txt                                   :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: eslamber <eslamber@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/08/26 16:19:12 by eslamber          #+#    #+#              #
#    Updated: 2024/10/02 16:33:47 by eslamber         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Version de django
Django==5.0.4
# Django>=4.2.5,<5.0

# Ce qui sert a django pour travailler avec postgresql
psycopg==3.1.8
# psycopg2-binary>=2.9.8,<3.0

# Améliore les capacitées et la réactivitée du site
gunicorn==22.0.0
# gunicorn>=20.1.0,<21.0

# Framework pour la création d'api
## djangorestframework>=3.14.0,<4.0

# Installation de la bibliothèque simplejwt pour créer les token
## djangorestframework-simplejwt>=5.2.2,<6.0

# Modules pour gérer les requetes
requests==2.32.3
# requests>=2.31.0

# Permet de gérer les requestes Cors du front
django-cors-headers==4.3.1
# django-cors-headers>=3.14.0,<4.0

# Module auth intégré pour la gestion des utilisateurs
## django.contrib.auth

#python-dotenv==1.0.1
# djangorestframework==3.15.1
# djangorestframework-simplejwt==5.2.2
# fontawesomefree==6.5.1
# PyJWT==2.8.0
# pyotp==2.9.0
# pillow==10.3.0
# django-cleanup==8.1.0
# qrcode[pil]
# channels==4.1.0
# daphne==4.1.2
# redis==5.0.7
# channels-redis==4.2.0