# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    requirements.txt                                   :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: eslamber <eslamber@student.42lyon.fr>      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/08/26 16:19:12 by eslamber          #+#    #+#              #
#    Updated: 2024/09/05 14:32:40 by eslamber         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Version de django
Django>=4.2,<5.0

# Ce qui sert a django pour travailler avec postgresql
psycopg2-binary>=2.9,<3.0

# Améliore les capacitées et la réactivitée du site
gunicorn>=20.0,<21.0

# Framework pour la création d'api
djangorestframework>=3.12,<4.0

# Installation de la bibliothèque simplejwt pour créer les token
djangorestframework-simplejwt>=5.0,<5.3