h1 {
	color: white;
}

.tooltip-inner {
	font-weight: bold;
	font-size: 15px;
}

canvas {
	position: relative;
	background-color: rgb(115, 171, 201);
	border: 10px solid white;
	aspect-ratio: 16/9;
	width: 100%;
}

.score-board div {
	font-weight: bold;
	font-size: 60px !important;
	color: white;
}

.score-names div {
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.canvas-container {
	position: relative;
}

#winMessage {
	font-weight: bold;
}

.replayBlock {
	font-size: 20px;
	text-align: center;

	border: 3px solid #fff;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(16, 55, 68, 0.5);
	padding: 20px;
	border-radius: 10px;
	color: white;
	text-align: center;
	z-index: 10;
	width: auto;
	min-width: 320px;
	height: auto;
	backdrop-filter: blur(3px);
}

.replayBlock button {
	font-size: 20px;
	background: linear-gradient(120deg, rgba(153, 208, 238, 0), rgb(153, 208, 238));
	border: 3px solid #fff;
	padding: 10px;
}

.button-group {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.button-group button {
	width: 90%;
	margin: 10px 0;
}

.button-group span {
	width: 90%;
	margin: 8px;
}

.button-group span button {
	width: 100%;
	margin: 0;
}
