/* Styles globaux */

h1 {
	color: white;
}


canvas {
	position: relative;
	background-color: rgb(115, 171, 201);
	border: 10px solid white;
	aspect-ratio: 16/9;
	width: 100%;
}

.score-board div {
	font-weight: bold;
	font-size: 60px !important;
	color: white;
}


.canvas-container {
	position: relative;
}

#winMessage {
	font-weight: bold;
	padding: 20px;
}

.replayBlock {
	font-size: 20px;
	text-align: center;

	border: 3px solid #fff;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(16, 55, 68, 0.679);
	padding: 20px;
	border-radius: 10px;
	color: white;
	text-align: center;
	z-index: 10;
	width: 300px;
	height: auto;

	border-radius: 10px;
	color: white;
}

.replayBlock button {
	font-size: 20px;
	background: linear-gradient(120deg, rgba(153, 208, 238, 0), rgb(153, 208, 238));
	border: 3px solid #fff;
	padding: 10px;
}

.button-group {
	display: flex;
	align-items: center;
	flex-direction: column; /* Alignement vertical */
}

.button-group button {
	width: 100%; /* Largeur égale pour les boutons */
	margin: 10px 0; /* Espacement vertical entre les boutons */
}
