# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    requirements.txt                                   :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: eslamber <eslambert@student.42lyon.fr>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/08/26 16:19:12 by eslamber          #+#    #+#              #
#    Updated: 2024/10/26 11:50:03 by eslamber         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Version de Django
Django>=4.2.5,<5.0

# Driver PostgreSQL pour Django
psycopg2-binary>=2.9.7,<3.0

# Serveur WSGI pour exécuter l'application
gunicorn>=20.1.0,<21.0

# Framework pour la création d'api
djangorestframework>=3.12,<4.0

# Serveur ASGI pour exécuter l'application
uvicorn[standard]>=0.13.4

# Installation de la bibliothèque jwt pour gérer la vérification des tokens
PyJWT>=2.0,<3.0

# Module pour effectuer des requêtes HTTP
requests>=2.25.1

# Gestion des requêtes CORS
django-cors-headers>=3.13,<4.0

# Support pour les WebSockets
channels>=4.0,<5.0