# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    requirements.txt                                   :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: eslamber <eslambert@student.42lyon.fr>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/08/26 16:19:12 by eslamber          #+#    #+#              #
#    Updated: 2024/10/26 09:16:53 by eslamber         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Version de django
Django>=4.2,<5.0

# Ce qui sert a django pour travailler avec postgresql
psycopg2-binary>=2.9,<3.0

# Améliore les capacitées et la réactivitée du site
gunicorn>=20.0,<21.0

# Framework pour la création d'api
djangorestframework>=3.12,<4.0

# Installation de la bibliothèque jwt pour gérer la vérification des tokens
PyJWT>=2.0,<3.0

# Modules pour gérer les requetes
requests>=2.25.1

# Permet de gérer les requestes Cors du front
django-cors-headers>=3.13,<4.0