# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    requirements.txt                                   :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: este <este@student.42.fr>                  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/08/26 16:19:12 by eslamber          #+#    #+#              #
#    Updated: 2024/09/18 11:43:17 by este             ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Version de django
Django>=4.2,<5.0

# Ce qui sert a django pour travailler avec postgresql
psycopg2-binary>=2.9,<3.0

# Améliore les capacitées et la réactivitée du site
gunicorn>=20.0,<21.0

# Permet de gérer les requestes Cors du front -> pas sur de devoir le garder
django-cors-headers>=3.13,<4.0

# Permet de récupérer des variables d'environnements (donc la clée secrete)
python-dotenv>=0.21.1,<1.0

# Permet de générer et gérer les token jwt
pyjwt==2.6.0